$weight__headers: bold;
$weight__body: normal;

$font__app-header: 'Varela';
$font__app-body: 'Roboto';

$background__main: rgb(255,255,255);
$background__container: rgb(255,255,255);

$color__titles: #000;
$color__subtitles: #333;
$color__content: #666;
$decoration__titles: none;
$decoration__subtitles: none;

$border__button: #000;
$background__button: #000;
$color__button: #fff;

$border__button-active: #000;
$background__button-active: #fff;
$color__button-active: #000;

$color__link: #222;
$decoration__link: none;
$color__link-active: #ccc;

$transition-speed: 0.75s;
$transition-delay: 0.75s;
$transition-opacity: 0.25;
$transition-distance: 3rem;


$color__error: #f36d69;
$background__input: rgb(220,220,220);
$border__input: #ccc;
$border__input-active: #000;
$color__input-label: #000;
$color__input: #000;
$background__checkbox-checked: #000;
$border__checkbox-checked: #000;
$color__checkbox: #000;
$background__checkbox-unchecked: #fff;
$border__checkbox-unchecked: #000;